# Server / client mode
MODE=server

# Client machine example:
# MODE=client

# Shared proxy settings
CLIENT_IP=0.0.0.0
CLIENT_PROXY_PORT=27817
CLIENT_RESPONSE_PORT=27818
SERVER_IP=127.0.0.1
SERVER_PORT=27817
TARGET_IP=127.0.0.1
TARGET_PORT=443
CLIENT_RESPONSE_IP=127.0.0.1
MTU_SIZE=1450
NAT_TRAVERSAL=false

